.sidebar{
    position: absolute;
    left: 0%;
    right: 70%;
    top: -1.46%;
    bottom: 0%;
    background: #363740;
}

.admin{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.para{
    margin-top: 70%;
    margin-left: 30%;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vw;
    line-height: 35px;
}

.sidebutton{
    margin-top: 20%;
    margin-left: 14%;
    font-size: 1.7vw;
    color: white;
    background: transparent;
    border: none;
    
}
button:hover{
    cursor: pointer;
}

.adminvote{
    position:absolute;
    margin-left: 25%;
    margin-top:10%;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 30%;
}

.adminvoted{
    color: red;
    font-weight: bold;
    /* margin-top:-150%; */
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 200%;
    width:100vh;
    text-align:center;
}
svg{
   position:absolute;
   top:15%;
   left:40%;
}